.divisao{
    position: relative;
}
.btn-fl{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: calc(50% - 95px);
    bottom: 44%;
}
@media screen and (max-width: 766px){
    .btn-fl{
        bottom: -5%;
    }    
}

.btn-cl{
    background-color: #4CAF50;
    border-color: #4CAF50;
    color: #f1f1f1;
    font-size: 35px;
}
.btn-cl2{
    background-color: rgb(56, 58, 179);
    border-color: rgb(56, 58, 179);
    color: #f1f1f1;
    font-size: 35px;
}

.eue{
    background-color: #ebeb00;
}

.euee{
    background-color: #4CAF50;
}


.esp{
    margin: 2px;
    margin-left: 16px;
    font-weight: lighter;
}

.opal{
    background-color: black;
    opacity: 0.5;
    margin: 30px;
    padding: 0;
}
.pal{
    margin: 80px;
    overflow: hidden;
}

@media screen and (max-width: 640px){
    .esc{
        display: none;
    }
    .opal{
        margin: 10px;
    }
    .pal{
        overflow: visible;
        margin: 20px;
    }
    .card-img-overlay{
        padding: 0;
    }
    .card-title{
        font-size: 15px;
    }
    .card-text{
        font-size: 13px;
    }
}

.borda{
    border: 5px solid cornflowerblue;
}
.borda2{
    border: 5px solid #ebeb00;
}
.borda-r{
    border: 5px solid #ebeb00;
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
}
.borda-r2{
    border: 5px solid #ebeb00;
    border-bottom-right-radius: 3%;
    border-bottom-left-radius: 3%;
}

.margin-sm{
    margin: 15px;
}
.margin-lg{
    margin: 30px;
}

.padding-sm{
    padding: 10px;
}
.padding-lg{
    padding: 30px;
}