le.cssCSS

body {
    background-color: #413D3D;
}
.tema a{
    font-size: 22px;
     text-decoration: none; 
 }
.grid img{
padding: 0 150px;
}
.grid {
    width: 680px;
    height:770px;
      margin: 0 auto;
    background-color: rgb(9, 82, 151);
    padding: 10px 50px 50px 50px;
    border: 2px solid #cbcbcb;   
}

.grid h1 {  
    font-family: "sans-serif";
    background-color: rgb(2, 37, 49);
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    padding: 2px 0px;
    
}

#score {
    color: #01BBFF;
    text-align: center;
    font-size: 30px;
}

.grid #question {
    font-family: "monospace";
    font-size: 30px;
    color: #01BBFF;
    text-align: center;
}

.buttons {
    margin: 30px  20px  30px 60px;
    
}

#btn0, #btn1, #btn2, #btn3 {
    background-color: rgb(11, 128, 79);
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #1D3C6A;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: #01BBFF;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}

#progress {
    color: #fff;
    font-size: 22px;
}
